BACKEND_PORT = "(e.g., 3000)"

FRONTEND_PORT = "(e.g., 5173)"

MONGODB_URI = "Your MongoDB URI here (e.g., mongodb://localhost:27017/LocalLens)"

VITE_API_BASE_URL = "Your API URL here (e.g., http://localhost:3000)"

JWT_SECRET = "Your JWT Secret Key here (e.g., SECRET-XGGTD)"

#CLOUDINARY
CLOUDINARY_CLOUD_NAME = "Your Cloudinary Cloud Name here"
CLOUDINARY_API_KEY = "Your Cloudinary API Key here"
CLOUDINARY_API_SECRET = "Your Cloudinary API Secret here"